:root {
    --primary-color: #03071e;
    --primary-color-hovered: #03061b;
    
    --secondary-color: #0066FF;
    --secondary-color-hovered: #005ce6;

    --border-color: #f0f0f2;
    --border-color-hovered: #edeeef;

    --white-color: #fff;
    --black-color: #000;

    --text-color: #03071e;
    --text-gray-color: #9c9c9c;

    --background-color: #f7faff;

}
