body{
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #ebebeb;
    display: grid;
    place-items: center;
}

.title{
    margin: 20px 0;
    font-size: 50px;
}

.title-chainlink{
    margin: 20px 0;
    font-size: 50px;
    color: rgb(67, 67, 255);
}

.chainlink-body{
    background-color: #fff;
}


.main{
    border: 8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
}

.name{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #7e7e7e;
    background-color: #ebebeb;
}

.name > span{
    color: #bbb;
}

.name-input{
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #ebebeb;
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 97%;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left, .message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 300px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #fff;
    box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right{
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #2d2d2d;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;

}

.message-left > p > span, .message-right > p > span{
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

ul{
    list-style-type: none;
}

.feedback{
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}

.message-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-input{
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
    
}

.send-button{
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.v-divider{
    height: 48px;
    width: 2px;
    background-color: #f6f6f6;
}

.clients-total{
    position: absolute;
  top: 0;
  right: 0;
  margin-right: 24px;
  margin-top: 140px;
}


.header {
    margin: 20px 0;
}

.button-container {
    display: flex;
}

.chat-choose {
    flex: 1; /* Butonlar eşit genişlikte olacak */
    margin: 5px; /* Butonlar arasında 5px boşluk bırakacak */
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f6f6f6;
}

#chainlink{
    background-color: rgb(67, 67, 255);
    color: #fff;
    border: 2px solid #fffdfd;
}

#chainlink:hover{
    background-color: #fff;
    color: rgb(67, 67, 255);
}

#kampus{
    background-color: rgb(0, 0, 0);
    color: #ea9c00;
}

#kampus:hover{
    background-color: #ffaa00;
    color: rgb(0, 0, 0);
    border: 1px solid #ffaa00;
}

#yeni-yazilimci{
    background-color: rgb(0, 0, 0);
    color:#fff;
    border: 5px solid #000;
}

#yeni-yazilimci:hover{
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: 2px solid #fff;
}

.chat-choose{
    border-radius: 10px;
    height: 46px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.chat-choose:not(:last-child) {
    margin-right: 10px;
  }